* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: regular;
    src: url(./fonts/regular.ttf);
}

@font-face {
    font-family: heading;
    src: url(./fonts/medium.ttf);
}

.bg-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url(./public/bg-mobile.jpg);
    background-repeat: no-repeat;
    opacity: 0.4;
}

.header-main-div {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
}

.header-h1 {
    margin-left: 2vh;
    font-family: heading;
}

.header-button {
    margin-right: 2vh;
    height: 6vh;
    width: 6vh;
    background-image: url(./public/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    outline: none;
    border: none;
}

.homepage-div {
    position: absolute;
    top: 10vh;
    left: 0;
    height: 90vh;
    width: 100vw;
    background-color: transparent;
    overflow-y: scroll;
}

.product-main-div {
    width: 100vw;
    height: 50vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: regular;
}

.product-name {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    text-align: center;
}

.underline-div {
    width: 70vw;
    margin-top: 5vh;
    border-bottom: 2px solid black;
}

#first {
    margin-top: 5vh;
}

#last {
    margin-bottom: 0;
    border: 0;
}


.footer-main-div {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: regular;
    color: black;
    background-color: transparent;
}